{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">This is what We do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello Friends Welcome To Tech Blog.</p>
        <p>Tech Blog is a Professional Tech Blogging Platform. Here we will provide you only interesting content, which you will like very much.We're dedicated to providing you the best of Tech Blogging. We're working to turn our passion for Tech Blogging into a booming online website. We hope you enjoy our Tech Blogging as much as we enjoy offering them to you.I will keep posting more important posts on my Website for all of you. </p>
        <p>Please give your support and love.</p>
        <p>Thanks For Visiting Our Site.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}